@font-face {
    font-family: 'font1';
    src: url('font/CHICKEN Pie Height.ttf') format('truetype');
}
body {
    background-color: #f5e6d3;
    font-family:'Segoe UI', sans-serif
}

.custom-navbar {
    background-color: #382222;
    padding: 15px 0;
}

.navbar .nav-link {
    color: #f5e6d3;
    transition: 0.3s;
    font-size: 1.1rem;
}

.navbar .nav-link:hover {
    color: #d2a679;
}

.header {
    background-color: #3f2929;
    color: #f5e6d3;
    padding: 2rem 0;
    font-weight: bold;
    font-family: 'font1', sans-serif;
}

.section-title {
    color: #643e3e;
    font-weight: bold;
}

.custom-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    background-color: #fff8f0;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.custom-btn {
    background-color: #6b3e26;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.custom-btn:hover {
    background-color: #a0522d;
}

.custom-footer {
    background-color: #6c4545;
    color: #f5e6d3;
}

/* Login css */
.login-box {
    background-color: #fff8f0;
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    border: 2px solid #000000;
}

.form-control {
    border-radius: 10px;
    padding: 10px;
}

.login-box h2 {
    color: #4b2e2e;
    font-weight: bold;
}

.register-link {
    color: #6b3e26;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    color: #a0522d;
}

/*payment css*/
/* Payment Card */
.payment-card {
    background-color: #fff8f0;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
    height: 100%;
}

.payment-card:hover {
    transform: translateY(-5px);
}

/* Judul */
.payment-title {
    color: #4b2e2e;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}