@font-face {
    font-family: 'font1';
    src: url('PuddingHambali_ProjekAkhirPraktikumPWD_005_023/font/CHICKEN Pie Height.ttf') format('truetype');
}

body {
    background-color: #9a6664;
    font-family: 'Segoe UI', sans-serif;
}
.custom-navbar {
    background-color: #654040;
    padding: 15px 0;
    font-family: 'font1', cursive;
}

.navbar .nav-link {
    font-size: 18px;
    color: #f5e6d3 !important;
    transition: 0.3s;
    font-family: 'font1', cursive;
}

.navbar .nav-link:hover {
    color: #d2a679 !important;
}

.section-title {
    color: #3a2323;
    font-weight: bold;
    font-family: 'font1', cursive;
}

.custom-card {
    border: none;
    border-radius: 15px;
    background-color: #fff8f0;
    overflow: hidden;
    transition: 0.3s;
}

.custom-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.custom-btn {
    background-color: #6b3e26;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.custom-btn:hover {
    background-color: #a0522d;
}

.custom-footer {
    background-color: #4b2e2e;
    color: #f5e6d3;
}
.login-box {
    background-color: #fff8f0;
    padding: 40px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.form-control {
    border-radius: 10px;
    padding: 10px;
}

.login-box h2 {
    color: #4b2e2e;
    font-weight: bold;
}

.register-link {
    color: #6b3e26;
    text-decoration: none;
    font-weight: bold;
}

.register-link:hover {
    color: #a0522d;
}