@font-face {
    font-family: 'font1';
    src: url('font/CHICKEN Pie Height.ttf') format('truetype');
}
body {
    background-color: #f5e6d3;
    font-family:'Segoe UI', sans-serif
}

.custom-navbar {
    background-color: #4b2e2e;
    padding: 15px 0;
}

.navbar .nav-link {
    color: #f5e6d3;
    transition: 0.3s;
    font-size: 1.1rem;
}

.navbar .nav-link:hover {
    color: #d2a679;
}

.header {
    background-color: #6c4545;
    color: #f5e6d3;
    padding: 2rem 0;
    font-weight: bold;
    font-family: 'font1', sans-serif;
}

.section-title {
    color: #4b2e2e;
    font-weight: bold;
}

.custom-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    background-color: #fff8f0;
}

.custom-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.custom-btn {
    background-color: #6b3e26;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
}

.custom-btn:hover {
    background-color: #a0522d;
}

.custom-footer {
    background-color: #6c4545;
    color: #f5e6d3;
}